.logo {
    position: relative; /* Position relative to position the pseudo-element */
    display: flex; /* Use Flexbox for alignment */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 600px; /* Match the width of the Image component */
    height: 600px; /* Set a fixed height for the container */
    border-radius: 20px;
    overflow: hidden; /* Ensure child elements don't overflow */
  }
  
  .logo::before {
    content: ''; /* Necessary for the pseudo-element */
    position: absolute; /* Position absolutely within .logo */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    bottom: 0; /* Stretch to the bottom */
    background-image: url('../../../public/assets/contractor.jpg');
    background-size: cover; /* Make the background cover the container */
    background-position: center; /* Center the background image */
    opacity: 0.3; /* Set opacity of the background */
    z-index: 0; /* Position below other content */
  }
  
  .logo2 {
    z-index: 1; /* Ensure the logo image is above the background */
  }
  
  h2 {
    z-index: 1; /* Ensure the text is above the background */
    color: #000080; /* Optional: adjust text color for visibility */
  }
  
  div:where(.swal2-icon).swal2-success .swal2-success-ring {
  position: absolute;
  z-index: 2;
  top: -0.25em;
  left: -0.25em;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: .25em solid #9d174d;
  border-radius: 50%;
}

div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
  display: block;
  position: absolute;
  z-index: 2;
  height: .3125em;
  border-radius: .125em;
  background-color: #9d174d;
}